.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: 
    "sidebar title title title"
    "sidebar not-started in-progress completed";
    overflow-y: auto;
}

.sidebar {
    grid-area: sidebar;
}

.title {
    font-size: 36px;
    grid-area: title;
    object-position: top center;
    text-align: center;
    font-family: "Inter";
    font-weight: 900;
    background: #D0D4EB;
    padding-top: 0.1%;
}

.not-started {
    grid-area: not-started;
    background: #D0D4EB;
}

.in-progress {
    grid-area: in-progress;
    background: #D0D4EB;
}

.completed {
    grid-area: completed;
    background: #D0D4EB;
}

.ns-text {
    font-size: 1.75em;
    text-align: left;
    padding: 20% 0 0 5%;
    font-weight: 900;
    font-family: "Inter";
}

.ip-text {
    font-size: 1.75em;
    text-align: left;
    padding: 20% 0 0 5%;
    font-weight: 900;
    font-family: "Inter";
}

.completed-text {
    text-align: left;
    font-size: 1.75em;
    padding: 20% 0 0 5%;
    font-weight: 900;
    font-family: "Inter";
}

.add-task { 
    border-radius: 2;
    color: #96A2D0;
    font-family: "Inter";
}

.vl {
    border-left: 2px solid #7D8ED4;
    height: 78vh;
    float: right;
    opacity: 60%;
}

.task-paper {
    text-align: left;
    margin-left: 3%;
    font-family: "Inter";
}

.task-name {
    vertical-align: middle;
}

.popup-box {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
}
  
.box {
    position: relative;
    width: 70vh;    
    margin: auto;
    height: auto;
    max-height: 70vh;
    margin-top: 35vh;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    z-index: 20;
}
  
.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: 38%;
    top: 33%;
    background: #fff;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    font-size: 24px;
    z-index: 20;
}