.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  position:absolute;
  top: 15px;
  left: 10px;
}

.nav-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.profile-pic {
  display: flex;
  justify-content: center;
  list-style: none;
}

.profile-pic a {
  color: #D0D4EB;
}

.profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 16px;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50px;
  margin-top: 6px;
}

.dashboard a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.dashboard a:hover {
  background-color: #D0D4EB;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50px;
}

.icon a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.icon a:hover {
  background-color: #D0D4EB;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}