.background {
    position: relative;
    background: #D0D4EB;
    height: 100vh;
}

.tasks-paper {
    position: absolute;
    top: 1.5%;
    left: 11%;
    background-color: #fdfdfd;
    box-shadow: inset;
}

.calendar {
    position: absolute;
    top: 3%;
    left: 60%;
}

.todos-paper {
    position: absolute;
    top: 17%;
    left: 11%;
    background-color: #fdfdfd;
}

.events-paper {
    position: absolute;
    top: 57%;
    left: 11%;
    background-color: #fdfdfd;
}

.projects-paper {
    position: absolute;
    top: 57%;
    left: 55%;
    background-color: #fdfdfd;
}

.hr { 
    display: block; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
    opacity: 50%;
    margin-top: 1.5%;
}

.tasks-text {
    margin-top: 15px;
    margin-left: 35px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.tasks-text2 {
    margin-left: 35px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.general-text {
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.general-text2 {
    text-align: left;
    font-size: 14px;
}

.checkboxes {
    margin-left: 15px;
}

.todos-paper::-webkit-scrollbar {
    width: 5px;
}

.todos-paper::-webkit-scrollbar-track {
    background: #ccc;
}

.todos-paper::-webkit-scrollbar-thumb {
    background: #f5f5f5;
}