.container-log {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "blue-bg content-log";
}

.blue-bg {
  grid-area: blue-bg;
  background: #D0D4EB;
}

.content-log {
  grid-area: content-log;
}

.title-log {
  font-size: 2.2em;
  font-family: "Inter";
  font-weight: 600;
  margin: 5% 0 10% 0;
}

.google-button {
  font-family: "Inter";
  margin-bottom: 2%;
}

.hl span {
  font-size: 0.8em;
  font-family: "Inter";
  text-align: center;
  padding-right: 7%;
}

.signup-link {
  font-weight: 600;
}

.title-su {
  font-size: 2.2em;
  font-family: "Inter";
  font-weight: 600;
  margin: 5% 0 5% 0;
}

.title-rp {
  font-size: 2.2em;
  font-family: "Inter";
  font-weight: 600;
  margin: 5% 0 5% 0;
}