.line {
  display: flex;
}

.line::before,
.line::after {
  content: "";
  flex: 1 1;
  border-top: 1px solid #d3d2d3;
  margin: auto;
}

.google-button {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
  margin: 0 1rem;
}
