.navbar {
  background-color: #fdfdfd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2.35em;
  background: none;
  position: absolute;
  top: 3%;
  left: 0.01%;
}

.nav-menu {
  background-color: white;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.profile-pic {
  list-style: none;
  margin-left: 35%;
}

.profile-pic a {
  text-decoration: none;
}

.profile-name {
  display: flex;
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 4px;
  list-style: none;
  height: 9.5%;
  margin-top: 0.2%;
}

.dashboard a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  margin-right: 10%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard a:hover {
  background-color: #D0D4EB;
  margin-right: 10%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 4px;
  list-style: none;
  height: 9.5%;
}

.icon a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  margin-right: 10%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon a:hover {
  background-color: #D0D4EB;
  margin-right: 10%;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: white;
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 10%;
}