.container-sch {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.085fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.3fr;
    grid-template-areas: 
    "sidebar-sch title-sch"
    "sidebar-sch calendar-sch"
    "sidebar-sch nusmods-btn";
}

.sidebar-sch {
    grid-area: sidebar-sch;
}

.title-sch {
    grid-area: title-sch;
    background: #D0D4EB;
    padding: 1% 0 2% 0;
    font-size: 2em;
    font-weight: 600;
    font-family: "Inter";
}

.calendar-sch {
    grid-area: calendar-sch;
    background: #D0D4EB;
}

.big-calendar {
    width: 80%;
    margin: auto;
}

.nusmods-btn {
    grid-area: nusmods-btn;
    background: #D0D4EB;
}

.popup-box-sch {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
}
  
.box-sch {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #999;
    overflow-y: auto;
    z-index: 20;
}
  
.close-icon-sch {
    content: 'x';
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    font-size: 24px;
    z-index: 20;
}

.event-name, .event-start-date, .event-end-date {
    font-family: "Inter";
    width: 75%;
    height: 6.5vh;
    margin: 2% 0 2% 0;
    border: 1px solid #999;
    border-radius: 4px;
}