.container-sch {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.085fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.3fr;
    grid-template-areas: 
    "sidebar-sch title-sch"
    "sidebar-sch calendar-sch"
    "sidebar-sch nusmods-btn";
}

.sidebar-sch {
    grid-area: sidebar-sch;
}

.title-sch {
    grid-area: title-sch;
    background: #D0D4EB;
    padding: 1% 0 2% 0;
    font-size: 2em;
    font-weight: 600;
    font-family: "Inter";
}

.calendar-sch {
    grid-area: calendar-sch;
    background: #D0D4EB;
}

.nusmods-btn {
    grid-area: nusmods-btn;
    background: #D0D4EB;
}